.bgBlueGreen{
    background-color:#386163 !important;
}
.bgOrange{
    background-color:#ff5403 !important;
}
.bgLightBlue{
    background-color:#84a1ff !important;
}
.bgYellow{
    background-color:#cd921e !important;
}
.colorBlueGreen{
    color:#386163 !important;
}
.colorOrange{
    color:#ff5403 !important;
}
.colorLightBlue{
    color:#84a1ff !important;
}
.colorYellow{
    color:#cd921e !important;
}